@using AccountingSystem.Models.FrontendModels
@model IEnumerable<ClientCardViewModel>

<div class="row">
    @foreach(var model in Model)
    {
        <p>
            @model.FullName
        </p>
    }
</div>


